<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<title>Add Task</title>
</head>

<div th:replace="fragments/navbar :: navbar"></div>

<body>
	<div class="container">
	
		<br>
		<p class="h4 mb-4">Add Task</p>
		<hr>
		
		<form action="#" th:action="@{/Tasks/save}" th:object="${task}"
			method="POST">

			<input type="text" th:field="*{name}" 
			class="form-control mb-4 col-4" placeholder="Name">
				
			<label for="type">Type:</label>
			<select id="type" th:field="*{type}" class="form-control mb-4 col-4">
				<option value="To Do">To Do</option>
				<option value="In Progress">In Progress</option>
				<option value="Done">Done</option>
			</select>
			
			<input type="text" th:field="*{description}"
				class="form-control mb-4 col-4" placeholder="Description">
				
			<input type="text" th:field="*{dueDate}" 
			class="form-control mb-4 col-4" placeholder="Due Date">

			<button type="submit" class="btn btn-primary btn-outline-dark">Add</button>
			
			<a class="btn btn-secondary" data-toggle="collapse"
			th:href="@{/Tasks/list}" role="button" aria-expanded="false"
			aria-controls="collapseExample"> List of tasks </a>
		</form>

	</div>
</body>
</html>