<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<title>OnTrack</title>
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>
	<br />
	
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<div class="toDoWrapper">
					<div class="card text-white bg-dark mb-3" style="max-width: 18rem;"
						th:each="tasks : ${tasks}" th:if="${tasks.type} == 'To Do'">
						<div class="card-header d-flex justify-content-between">
							<h3>TO-DO</h3>
							<!-- drop down button starts here.  had issues after aligning -->
							<div class="btn-group d-flex justify-content-between">
								<button class="btn btn-secondary btn-sm" type="button"></button>
								<button type="button"
									class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Edit</a> <a
										class="dropdown-item" href="#">Delete</a>
								</div>
							</div>

						</div>
						<div class="card-body">
							<p class="class-text" th:text="${tasks.name}"></p>
						</div>
						<button type="button"
							style="box-shadow: 5px 10px #888888"
							class="btn btn-primary btn-outline-light btn-sm">add-item</button>
					</div>
					<!-- TODO
					<select id="toDo" required="required">
						<option th:each="task: ${tasks}" th:value="${task.type}"
							th:text="${task.type}"></option>
					</select> -->
				</div>
			</div>

			<div class="col-sm">
				<div class="inProgressWrapper">
					<div class="card text-white bg-dark mb-3" style="max-width: 18rem;"
						th:each="tasks : ${tasks}" th:if="${tasks.type} == 'In Progress'">
						<div class="card-header d-flex justify-content-between">
							<h3>In Progress</h3>
							<div class="btn-group d-flex justify-content-between">
								<button class="btn btn-secondary btn-sm" type="button"></button>
								<button type="button"
									class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Edit</a> <a
										class="dropdown-item" href="#">Delete</a>
								</div>
							</div>
						</div>
						<div class="card-body">
							<p class="class-text" th:text="${tasks.name}"></p>
						</div>
						<button type="button"
							style="box-shadow: 5px 10px #888888"
							class="btn btn-primary btn-outline-light btn-sm">add-item</button>
					</div>
					<!-- TODO
					<select id="inProgress" required="required">
						<option th:each="task: ${tasks}" th:value="${task.type}"
							th:text="${task.type}"></option>
					</select> -->
				</div>
			</div>

			<div class="col-sm">
				<div class="doneWrapper">
					<div class="card text-white bg-dark mb-3" style="max-width: 18rem;"
						th:each="tasks : ${tasks}" th:if="${tasks.type} == 'Done'">
						<div class="card-header d-flex justify-content-between">
							<h3>Done</h3>
							<div class="btn-group d-flex justify-content-between">
								<button class="btn btn-secondary btn-sm" type="button"></button>
								<button type="button"
									class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Edit</a> <a
										class="dropdown-item" href="#">Delete</a>
								</div>
							</div>
						</div>
						<div class="card-body">
							<p class="class-text" th:text="${tasks.name}"></p>
						</div>
						<button type="button"
							style="box-shadow: 5px 10px #888888"
							class="btn btn-primary btn-outline-light btn-sm">add-item</button>
					</div>
					
					<div>
					<body style="background-color: blue";></body>
					<h1 style="color: dark-blue"></h1>
					<h2 style="color: SlateBlue"></h2>
					
					
					
					
					
					
					
					</div>
					
					
					<!-- TODO
					
					
					
					<select id="done" required="required">
						<option th:each="task: ${tasks}" th:value="${task.type}"
							th:text="${task.type}"></option>
					</select> -->
				</div>
			</div>
		</div>
	</div>

</body>
</html>